<app-header></app-header>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-list style="cursor: pointer">
      <div *ngIf="isADM">
        <mat-list-item routerLink="/categorias/listagem">
          <mat-icon>reorder</mat-icon>Categorias
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="isADM">
        <mat-list-item routerLink="/funcoes/listagem">
          <mat-icon>supervised_user_circle</mat-icon>Funções
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>

      <mat-list-item routerLink="/cartoes/listagem">
        <mat-icon>credit_card</mat-icon>Meus Cartões
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item routerLink="/despesas/listagem">
        <mat-icon>paid</mat-icon>Minhas Despesas
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item routerLink="/ganhos/listagem">
        <mat-icon>savings</mat-icon>Meus Ganhos
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item routerLink="/user/atualizar">
        <mat-icon>account_circle</mat-icon>Meu Perfil
      </mat-list-item>
      <mat-divider></mat-divider>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
