<div *ngIf="!form">
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>

<div class="divCard" *ngIf="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>Atualizar {{funcaoName}}</h3>
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="submitFuncao()">
      <div class="cardErros" *ngIf="erros.length > 0">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Algo deu errado </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content class="divErros">
            <h4 class="textErros" *ngFor="let erro of erros">
              {{ erro }}
            </h4>
          </mat-card-content>
        </mat-card>
      </div>

      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input
              type="text"
              matInput
              formControlName="name"
              placeholder="Digite o nome da função"
              required
            />
            <mat-error *ngIf="f.name.touched && f.name.invalid">
              <sup>*</sup>Obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input
              type="text"
              matInput
              formControlName="descricao"
              placeholder="Digite descrição"
              required
            />
            <mat-error *ngIf="f.descricao.touched && f.descricao.invalid">
              <sup>*</sup>Obrigatório
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div>
          <button
            type="submit"
            mat-stroked-button
            color="primary"
            [disabled]="form.invalid"
          >
          <mat-icon>done</mat-icon>
          Atualizar
          </button>
          <button mat-stroked-button type="button" (click)="retornar()">
            Voltar
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
