<div *ngIf="!form">
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>

<div class="divCard" *ngIf="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>Cadastro de Cartões</h3>
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="submitCartao()">
      <div class="cardErros" *ngIf="erros.length > 0">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Algo deu errado </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content class="divErros">
            <h4 class="textErros" *ngFor="let erro of erros">
              {{ erro }}
            </h4>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- campos de cadastro -->
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input
              type="text"
              matInput
              formControlName="nome"
              placeholder="Digite o nome do cartão"
              required
              [ngClass]="{ 'is-invalid': f.nome.errors && f.nome.touched }"
            />
            <mat-error class="invalid-feedback" *ngIf="f.nome.errors?.required">
              <sup>*</sup>Obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Bandeira</mat-label>
            <input
              type="text"
              matInput
              formControlName="bandeira"
              placeholder="Digite a bandeira"
              required
              [ngClass]="{
                'is-invalid': f.bandeira.errors && f.bandeira.touched
              }"
            />
            <mat-error
              class="invalid-feedback"
              *ngIf="f.bandeira.errors?.required"
            >
              <sup>*</sup>Obrigatório
            </mat-error>
            <mat-error
              class="invalid-feedback"
              *ngIf="f.bandeira.errors?.maxLength"
            >
              <sup>*</sup>Digite um nome menor
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Número do Cartão</mat-label>
            <input
              type="text"
              matInput
              formControlName="numero"
              placeholder="Digite o número do cartão"
              required
              mask = "0000 0000 0000 0000"
              [ngClass]="{
                'is-invalid': f.numero.errors && f.numero.touched
              }"
            />
            <mat-error
              class="invalid-feedback"
              *ngIf="f.numero.errors?.required"
            >
              <sup>*</sup>Obrigatório
            </mat-error>
            <mat-error
              class="invalid-feedback"
              *ngIf="f.numero.errors?.maxLength || f.numero.errors?.mask"
            >
              <sup>*</sup>Número Inválido
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Limite</mat-label>
            <input
              type="text"
              matInput
              formControlName="limite"
              placeholder="Digite o limite do cartão"
              required
              [ngClass]="{
                'is-invalid': f.limite.errors && f.limite.touched
              }"
            />
            <mat-error
              class="invalid-feedback"
              *ngIf="f.limite.errors?.required"
            >
              <sup>*</sup>Obrigatório
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center">

          <button mat-stroked-button type="button" (click)="retornar()">
            Voltar
          </button>
          <button
            type="submit"
            mat-stroked-button
            color="primary"
            [disabled]="form.invalid"
          >
            <mat-icon *ngIf="form.valid">add_card</mat-icon>
            Adicionar
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
