<mat-toolbar color="primary">
  <span> Controle Financeiro</span>
  <span class="spacer"></span>
  <!-- <div>
    <button type="button" mat-raised-button (click)="showSpinner()">
      <mat-icon>lock</mat-icon>
      Spinner
    </button>
  </div> -->

  <div
    *ngIf="loggedUser"
    fxLayout="row"
    fxLayoutGap="30px"
    fxLayoutAlign="end center"
  >
  <div>
    <img
      class="img"
      [src]="imageURL"
      width="40"
      height="40"
      (click)="AtualizarUsuario()"
      style="cursor: pointer;border-radius: 50%;"
    /></div>
    
    <div>
      Olá, {{ loggedUser }}
    </div>


    <div>
      <button type="button" mat-raised-button (click)="Logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div>
  </div>
</mat-toolbar>
